.profile {
  width: 100%;
}

.profile__title {
  max-width: 99%;
  margin: auto;
  text-align: center;
}

.profile__form {
  max-width: 300px;
  margin: auto;
}

.profile__form__line {
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  margin-bottom: 1em;
}

#delete-account-btn {
  background-color: red;
  color: white;
  margin: auto;
  max-width: 300px;
  display: block;
}

#update-profile-btn {
  background-color: var(--color-secondary);
  width: 200px;
  margin-bottom: 5em;
}

#profile-saved {
  color: green;
  margin-left: 1em;
}