.register {
  width: 100%;
}

.register__title {
  max-width: 99%;
  margin: auto;
  text-align: center;
}

.register__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.register__form, .register__to-login-container {
  max-width: 300px;
  margin: auto;
}

.register__form__line {
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  margin-bottom: 1em;
}

#register-button {
  background-color: var(--color-secondary);
}

.invalid {
  margin-left: .5em;
  color: red;
}

.register__to-login-text {
  display: inline-block;
  margin-top: 2em;
  margin-right: 1em;
}

@media only screen and (max-width: 768px) {
  .register__grid {
    display: block;
  }
}