.welcome {
  width: 100%;
  padding: 1.5em;
}

.welcome__title {
  width: 99%;
  margin: auto;
  text-align: center;
  margin-bottom: 1em;
}

.welcome__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

h2 {
  text-align: center;
}

.welcome__link {
  max-width: 300px;
  margin: auto;
  border: solid rgba(0, 0, 0, 0.281) 1px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
  background-color: var(--color-secondary);
  padding-top: 3px;
  padding-bottom: 3px;
  border: outset var(--color-tirtiary);
}

.video-link {
  background-color: var(--color-tirtiary);
  margin-bottom: 0.5em;
  border: outset var(--color-secondary);
}

@media only screen and (max-width: 768px) {
  .welcome__grid {
    display: flex;
    flex-direction: column-reverse;
  }

  p {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .welcome__link {
    max-width: 200px;
  }
}